<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>madmin | Dashboard</title>

<link rel="stylesheet" href="{{url_for("static", filename="css/black-tie/jquery-ui-1.8.custom.css")}}" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="{{url_for("static", filename="css/madmin/jquery-ui-1.8.custom.css")}}" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="{{url_for("static", filename="css/style.css")}}" type="text/css" media="screen" />
<link rel="stylesheet" href="{{url_for("static", filename="css/table.css")}}" type="text/css" media="screen" />
<link rel="stylesheet" href="{{url_for("static", filename="css/form.css")}}" type="text/css" media="screen" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="{{url_for("static", filename="js/minmax.js")}}"></script>
<style type="text/css" media="screen">
    label, input { display:block; }
	input.text { margin-bottom:12px; width:95%; padding: .4em; }
	fieldset { padding:0; border:0; margin-top:25px; }
</style>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        
        
        $("a.confirm").click(function(e) {
          e.preventDefault();
          var drop_url = $(this).attr("href");
          
          $("#dialog-confirm").dialog({
            resizable: false,
      			height:150,
      			width: 375,
      			modal: true,
      			buttons: {
      				'Delete all items': function() {
      				  $(this).dialog('close');
      				  window.location = drop_url;
      					
      				},
      				Cancel: function() {
      					$(this).dialog('close');
      				}
      			}
      		});
      		
      		
        });
        
        
        $("a.clone-database").click(function(e) {
          e.preventDefault();
          $("input#from-clone-name").val($(this).attr("href"));
          $("#dialog-form").dialog("open");
        });
        
        $("#dialog-form").dialog({
          autoOpen: false,
          height: 225,
          width: 350,
          modal: true,
          buttons: {
            'Clone Database': function() {
              var dbname = $("input#clone-name").val();
				      var myRegxp = /^([a-zA-Z0-9_-]+)$/;

				      if(myRegxp.test(dbname) == false) {
				        $("#clone-error").html("Invalid database name.");
				      } else {
				        var from = $("#from-clone-name").val();
				        $.post("/database/clone", {"from": from, "to": dbname}, function(data) {
				          if(data != "") {
				            $("#clone-error").html(data);
			            } else {
			              $(this).dialog("close");
			              window.location.reload();
			            }
				        });
				        
				        
				      }
            },
            Cancel: function() {
              $(this).dialog("close");
            }
          }
          
        })
        
        /*
        $("a#new-database").click(function(e) {
            e.preventDefault();
            $("#dialog-form").dialog("open"); 
        });
        
        $("#dialog-form").dialog({
			autoOpen: false,
			height: 225,
			width: 350,
			modal: true,
			buttons: {
				'Create Database': function() {
				    var dbname = $("input#database-name").val();
				    var myRegxp = /^([a-zA-Z0-9_-]+)$/;
				    if(myRegxp.test(dbname) == false) {
				        $("#database-error").html("Invalid database name.");
				    } else {
				        $.post("/database/new", {"database-name": dbname}, function(data) {
				            if(data == "exists") {
				                $("#database-error").html("That database already exists.");
				            } else {
				                window.location.reload();
				            }
				        });
				    }
				
				},
				Cancel: function() {
					$(this).dialog('close');
				}
			},
			close: function() {
				//allFields.val('').removeClass('ui-state-error');
			}
		});
		*/
    });
</script>

</head>
<body>

<div style="display: none;" id="dialog-confirm" title="Drop this item?">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These items will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

<div id="dialog-form" title="Clone Database">
	<p class="validateTips">All form fields are required.</p>

  <span id="clone-error" class="error"></span><br>
	<form>
	<fieldset>
		<label for="name">Name</label>
		<input type="text" name="clone-name" id="clone-name" class="text ui-widget-content ui-corner-all" />
		<input type="hidden" name="from-clone-name" value="" id="from-clone-name">
	</fieldset>
	</form>
</div>


<div id="header">
	<h1><a href="{{url_for("databases")}}"><img src="{{url_for("static", filename="images/logo.gif")}}" alt="Shadmin" /></a></h1>
	<!--
	<div class="menu">Welcome <a href="#">Admin</a>! | <a href="#">Help</a> | <a href="#">Settings</a> | <a href="#">Logout</a></div>
    -->
</div>

<div id="wrapper">
  
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
	    <div id="notice"><strong>NOTICE</strong>: {{message}}</div>
	    {% endfor %}
	  {% endif %}
	{% endwith %}

	<div id="sidebar">
	
		<div class="title">
			<h2>Navigation</h2>
		</div>
		
		<div class="navigation">
			<ul>
				<li class="active"><a href="{{url_for("databases")}}">Databases</a></li>
				<li><a href="#">Reports</a></li>
				<li><a href="#">System</a></li>
			</ul>
		</div>

		<div class="title">		
			<h2>Latest Changes</h2>
		</div>
		
		<div class="box">
			<ul id="blog">
				<li><h4><abbr title="2009-01-20">2009-01-20</abbr></h4><p>Deleted database blah.</p></li>
				<li><h4><abbr title="2009-01-20">2009-01-20</abbr></h4><p>Deleted database blah.</p></li>
				<li><h4><abbr title="2009-01-20">2009-01-20</abbr></h4><p>Deleted database blah.</p></li>
				<li><h4><abbr title="2009-01-20">2009-01-20</abbr></h4><p>Deleted database blah.</p></li>
				<li><h4><abbr title="2009-01-20">2009-01-20</abbr></h4><p>Deleted database blah.</p></li>
				<li><h4><abbr title="2009-01-20">2009-01-20</abbr></h4><p>Deleted database blah.</p></li>
				<li><h4><abbr title="2009-01-20">2009-01-20</abbr></h4><p>Deleted database blah.</p></li>
			</ul>
		</div>
	
	</div>
	
	<div id="content">
	
		<div class="title">		
			{% block title %}<h2>Dashboard</h2>{% endblock %}
		</div>
		{% block content %}
		
			<div class="box">
			<h3>Databases</h3>
			<table>
			<thead>
			<tr>
				<th scope="col">Database</th>
				<th scope="col">Collections</th>
				<th scope="col">Total Size</th>
				<th scope="col">Index Count</th>
				<th scope="col">Index Size</th>
				<th scope="col">Action</th>
			</tr>
			</thead>
			<tbody>
			{% for database in databases %}
			<tr class="{{loop.cycle('odd', 'even')}}">
				<td>{{database.name}}</td>
				<td>{{database.collections}}</td>
				<td>{{database.size|pretty_size}}</td>
				<td>{{database.indexes}}</td>
				<td>{{database.index_size|pretty_size}}</td>
				<td><a href="{{url_for("list_collections", database=database.name)}}">Use</a> | <a href="{{url_for("drop_database", database=database.name)}}" class="confirm">Drop</a> | <a href="{{database.name}}" class="clone-database">Clone</a> | <a href="#">Repair</a></td>
			</tr>
			{% endfor %}
			</tbody>
			</table>

      {% endblock %}
		</div>
	
	</div>
	
	<div id="footer">
		<span class="left"><a href="{{url_for("databases")}}">Databases</a> | <a href="#">Reports</a> | <a href="#">System</a></span>
		<span class="right"></span>
	</div>

</div>

</body>
</html>